<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head.ejs') %>
        <link rel="stylesheet" href="css/dashboard.css">
        <title>Crime Type</title>

</head>

<body>

    <div class="page-wrapper chiller-theme toggled">

        <%- include ('partials/header.ejs') %>
            <main class="page-content mt-5">
                <div class="container-fluid">
                    <h2>Add Crime Type</h2>
                    <hr>
                    <div class="container py-3">
                        <div id="alertDiv" style="display: none;">
                            <div class="alert alert-info" role="alert">
                                <span id="alertMsg"></span>
                            </div>
                        </div>
                        <form id="add-crime-type-form">
                            <div class="form-group row">
                                <label for="crimeName" class="col-sm-2 col-form-label">Crime Name</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="crimeName" placeholder="Crime Name"
                                        required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="associatedLaws" class="col-sm-2 col-form-label mt-3">Associated Laws</label>
                                <div class="col-sm-5 mt-3">
                                    <div id="selectedLaws" class="list-group">
                                        <!-- selected laws will come here -->
                                    </div>
                                </div>
                                <div class="col-sm-5 mt-3">
                                    <div>
                                        <select class="form-control" id="LawSelectGrp" required>
                                            <option value="" disabled selected hidden>Please Choose Law...</option>
                                            <% laws.forEach(law=> { %>
                                                <option value=<%=law.LawNo %>><%= law.LawNo %>
                                                </option>
                                                <% }); %>
                                        </select>
                                        <% laws.forEach(law=> { %>
                                            <span hidden id=<%=law.LawNo %>><%= law.Description %></span>
                                            <% }); %>
                                    </div>
                                    <div class="mt-2 row">
                                        <div class="col-sm-8">
                                            <span id="errorMsg" class="text-danger" style="display: none">
                                                <i class="fas fa-exclamation-circle"></i>
                                                This law has already been added.
                                            </span>
                                        </div>
                                        <div class="col-sm-4 d-flex justify-content-end">
                                            <a href="#" class="text-dark align-middle" id="addLawBtn">
                                                <i class="fas fa-plus"></i>
                                                &nbsp;&nbsp;
                                                <span class="h6">Add Law</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <button type="submit" class="btn btn-dark">Add Crime Type</button>
                                </div>
                        </form>
                    </div>

                    <!-- </div> -->
                </div>
            </main>
            <!-- page-content" -->
    </div>
    <!-- page-wrapper -->
    <%- include('partials/foot.ejs') %>
        <script>
            var selectedLaws = [];
            $('#addLawBtn').on('click', function (e) {
                e.preventDefault();
                let lawNo = $('#LawSelectGrp').val();
                if (!selectedLaws.includes(lawNo)) {
                    selectedLaws.push(lawNo);
                    document.getElementById('selectedLaws').innerHTML +=
                        `<li id="al-${lawNo}" class="list-group-item list-group-item-action py-2 d-flex justify-content-between">
                            <details>
                                <summary>Law No. ${lawNo}</summary>
                                <p>${$('#' + lawNo).text()}</p>
                            </details>
                            <i onclick="$('#al-${lawNo}').remove();selectedLaws.splice( $.inArray('${lawNo}', selectedLaws), 1 );" class="fas fa-times" style="line-height:inherit;cursor:pointer;"></i>
                        </li>`;
                }
                else {
                    document.getElementById('errorMsg').innerHTML =
                        '<i class="fas fa-exclamation-circle"></i> This law has already been added.';
                    $('#errorMsg').show().delay(2000).fadeOut();
                }
            });




            $('#add-crime-type-form').on('submit', function (e) {
                
                e.preventDefault();
                if (selectedLaws.length != 0) {
                    $.ajax({
                        type: 'post',
                        url: '/process_add_crime',
                        dataType: 'json',
                        xhrFields: {
        withCredentials: true
    },
                        data: 
                        {
                            "crimeType" :$('#crimeName').val(),
                            "associatedLaws" : selectedLaws
                        },
                        success: function (data) {
                            document.getElementById('alertMsg').innerHTML = data;
                            $('#alertDiv').show().delay(3000).fadeOut();
                        },
                        error: function (error)
                        {
                            document.getElementById('alertMsg').innerHTML = error.responseText;
                            $('#alertDiv').show().delay(3000).fadeOut();
                        }
                    });
                }
                else {
                    document.getElementById('errorMsg').innerHTML =
                        '<i class="fas fa-exclamation-circle"></i> Please Add Law.';
                    $('#errorMsg').show().delay(2000).fadeOut();
                }
            });
        </script>



</body>

</html>