<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head.ejs') %>
    <link rel="stylesheet" href="css/dashboard.css">
    <title>Criminal Records</title>

</head>

<body>

  <div class="page-wrapper chiller-theme toggled">

    <%- include ('partials/header.ejs') %>
      <main class="page-content mt-5">
        <div class="container-fluid">
          <h2>Logs</h2>
          <hr>
          <div class="container py-3" style="overflow: scroll;">
            
            <table class="table table-hover">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Log ID</th>
                    <th scope="col">Log</th>
                    <th scope="col">Log Date & Time</th>
                  </tr>
                </thead>
                <tbody>
                  <% logs.forEach(log=> { %>
                    <tr>
                      <th scope="row">
                        <%= log.ID %>
                      </th>
                      <td>
                        <%= log.LoggerID+" "+log.Description+log.LoggedID %></td>
                      <td><%= log.InsertionDate+" "+log.InsertionTime %></td>
                    </tr>
                  <% }); %>
                </tbody>
                <tfoot>
                  <td colspan=" 2">
                          <a href="#" class="text-dark" id="fetchMoreLogsBtn">
                            See More
                            <i class="fas fa-angle-double-right"></i>
                          </a>
                      </td>
                </tfoot>
              </table>
          </div>
        </div>
      </main>
      <!-- page-content" -->
  </div>
  <!-- page-wrapper -->
  <%- include('partials/foot.ejs') %>
    <script>
        
      $('#fetchMoreLogsBtn').on('click',function(e)
      {
          e.preventDefault();
        $.ajax({
          type: 'get',
          url: '/view_more_logs',
          dataType: 'json',
          xhrFields: {
                            withCredentials: true
                        },
          data: {
              "last_id" : document.querySelector(".table tbody tr:last-child th").innerText
          },
          success: function (logs) {
            if(logs.length != 0)
            {
              logs.forEach(log=> {
                let tr = document.createElement('tr');
                tr.innerHTML=
                    `<tr>
                      <th scope="row">
                        ${log.ID}
                      </th>
                      <td>
                        ${log.LoggerID+" "+log.Description+log.LoggedID}</td>
                      <td>${log.InsertionDate+" "+log.InsertionTime}</td>
                    </tr>`
                document.querySelector(".table tbody").append(tr)
                });
            }
            else
            {
              $('#fetchMoreLogsBtn').remove();
            }
          }
      });
    });
    </script>


</body>

</html>
